### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Vuejs template
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

/.editorconfig
/yarn.lock
/.yarn/

node_modules/
doc_n/.vuepress/.cache/
doc_n/.vuepress/.temp/
doc_n/.vuepress/dist/
